/* Global CSS variables */
:root {
    --spacing-company: 3rem;
    --font-weight: 400;
    --border-radius: 0;
  }
  
  /* Typography */
  h2,
  h3,
  hgroup> :last-child {
    font-weight: 200;
  }
  
  small {
    color: var(--muted-color);
  }
  
  /* Header */
  .hero {
    background-color: #394046;
    background-image: url("/img/sascha-eremin-DNQ-M93tHmA-unsplash-3000x1000.jpg");
    background-position: center;
    background-size: cover;
  }
  
  header {
    padding: var(--spacing-company) 0;
  }
  
  header hgroup> :last-child {
    color: var(--h3-color);
  }
  
  header hgroup {
    margin-bottom: var(--spacing-company);
  }
  .gambar2{
    width : 150px;
  }
  
  /* Nav */
  summary[role="link"].contrast:is([aria-current], :hover, :active, :focus) {
    background-color: transparent;
    color: var(--contrast-hover);
  }
  
  /* Main */
  @media (min-width: 992px) {
    main .grid {
      grid-column-gap: var(--spacing-company);
      grid-template-columns: auto 25%;
    }
  }
  
  form.grid {
    display: flex;
    flex-direction: column;
  }
  
  /* Aside nav */
  aside img {
    margin-bottom: 0.25rem;
  }
  
  aside p {
    margin-bottom: var(--spacing-company);
    line-height: 1.25;
  }

  #big-btn{
    width: 200px;
    height: 60px;
    background: none;
    border: 4px solid;
    color: #3498db;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    position: relative;
  }
  
  #big-btn::before,.big-btn::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: #353b48;
    transform: skewX(50deg);
    transition: .4s linear;
  }
  
  #big-btn::before{
    top: -4px;
    left: 10%;
  }
  
  #big-btn::after{
    bottom: -4px;
    right: 10%;
  }
  
  #big-btn:hover::before{
    left: 80%;
  }
  
  #big-btn:hover::after{
    right: 80%;
  }
  @media screen and (max-width: 992px){
   
   .container-fluid{
    width : 100% !important;
    padding-right : 20%;
   }
   
   
  }
  
  